@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,600&family=Poppins:ital,wght@0,500;1,600&display=swap');

:root{
    --primary-color: #FE5303;
    --heading-font: "Playfair Display", serif;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg:24px;
    --spacing-2lg: 40px;
}
* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}
body{
    margin: 0;
    color: #222;
    font: "Poppins", san-serif;

}
.heading{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("./images/image-1.png");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.heading_container{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-lg);
    position: relative;
}
.heading_header{
    background-color: #F2F2F2;
    width: 100%;
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: var(--spacing-sm);
    z-index: 2;
}
.heading_header .logo path{
    fill: var(--primary-color);
    
}
.heading_header .reservations{
    display: flex;
    right: 14px;
    background-color: var(--primary-color);    
    border-radius: var(--spacing-2lg);
    border: none;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 0.875rem;
    align-items: center;
    text-transform: uppercase;
}
.heading_header .reservations i{
    margin-right: 8px;

}

section{
    padding: 69px 0;
}
.heading_slogan{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: var(--spacing-2lg);
    max-width: 600px;
}
.heading_adventure{
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-size: 0.875 rem;
    display: flex;
    align-items: center;

}
.heading_adventure i{
    margin-left: var(--spacing-md);
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

.booking{ 
    margin-top: 50px;
}
.booking_inputs{
    background-color: white;
    border-radius: var(--spacing-sm);
    padding: 24px;
    display: grid;
    gap: 24px;
}   
.booking_input input, .booking_input select{
    display: block;
    width: 100%;

    font-weight: 500;
    border: none;
    color: #222;
}
.booking_input label{
    font-size: 14px;
    color: #bdbdbd;
    text-transform: uppercase;
    font-weight: 500;
}

.book_now{
    background-color: var(--primary-color);
    padding: var(--spacing-lg);
    border-radius: var(--spacing-sm);
    margin-top: var(--spacing-md);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 24px;
    box-shadow: 0px 4px 20px rgba(254, 83, 3, 0.6);
}

@media screen and (min-width: 720px) {
    .booking_inputs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       
    }
    .booking_input{
        border-left: solid 1px red;
        padding: 0 var(--spacing-md);
    }
    .booking_input:first-child{
        padding-left: 0px;
        border: none;
    }
    .booking_input:last-child{
        
        padding-right: 0px;
    }
}
@media screen and (min-width: 1280px){
    .booking{
        display: grid;
        grid-template-columns: 1fr 180px;
        gap: 0px;
        justify-content: center;
        align-items: center;        
    }
    .book_now{
        margin-left: var(--spacing-md);
        margin-top: 0;
        height: auto;
    }
}



.about_container{
    background-color: transparent;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    padding: var(--spacing-lg);
}
.about_us{
    line-height: 24px;
    color: #bdbdbd;
    text-transform: uppercase;
    font-size: 600;
}
.about_main{
    gap: var(--spacing-lg);
    padding:var(--spacing-md);
}
.about_first, .about_second{
    display: grid;
    
}
.about_first h2{
   font-family: var(--heading-font) ;
   font-size: var(--spacing-2lg);
   font-weight: 600;
}
.about_information{
    font-weight: 400;
    color: #bdbdbd;
    font-size: var(--spacing-md);
}
#about_image{
    border-radius: var(--spacing-sm);
    width: 100%;
    
}
@media screen and (min-width: 720px) {
    .about_main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about_second #about_image{
        order: -1;
    }
}



.accommodations{
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-lg);
}
#accommodations_title{
    color: #bdbdbd;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;

}
#accommodations_header{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: var(--spacing-2lg);
}
.accommodations_see_all{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
}
.rooms{
   margin-top: var(--spacing-md);
}
.room{
    border-radius: var(--spacing-sm);
    overflow: hidden;
    position: relative;
    color: white;
    height: 380px;
    margin: var(--spacing-sm);
  
    
}
.room img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
    
}
.room .room_details{
    position: absolute;
    bottom: var(--spacing-lg);
    left: var(--spacing-lg);
}

.room .room_details .room_name{
    font-size: var(--spacing-lg);
    font-weight: 700;
    font-family: var(--heading-font);
}
.room .room_details .room_price{
    font-size: var(--spacing-md);
    font-weight: 700;
    
}
@media screen and (min-width: 720px) {
    .rooms{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .room_col2{
        grid-column: 1/ span 2;
    }
    
}
@media screen and (min-width: 1280px) {
    .rooms{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
        align-items: center;
    
    }
    .room_col2{
        padding: 0px;
        margin-right: 8px;
    }
}




.testimonials{
    max-width: 1200px;
    background-color: 
    #F2F2F2;
    margin: 0 auto;
    padding:var(--spacing-lg);
    border-radius: var(--spacing-lg);
}
.testimonials_title{
    color: #bdbdbd;
    text-transform: uppercase;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}
.testimonials_header{
    font-family: var(--heading-font);
    font-size: var(--spacing-2lg);
    font-weight: 700;

}
#red{
    color: var(--primary-color);
}
.feedback_cards{
    
}
.feedback_card{

}
.feedback_card_dialog{
    background-color: white;
    height: 320px;
    border-radius: var(--spacing-md);
    padding: var(--spacing-md);
    margin: var(--spacing-md);
}
.feedback_card_dialog_title{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 18px;
    margin-left: var(--spacing-lg);

}
.feedback_card_dialog_content{
    font-weight: 400;
    
    font-size: 16px;
    line-height: 29px;
    margin-left: var(--spacing-lg);

}
.author{
    margin: var(--spacing-lg);
    display: flex;
    gap: var(--spacing-lg);
}
.author_name{
    font-family: var(--heading-font);
    font-size: 18px;
    font-weight: 600;
}
.author_address{
    font-size: 16px;
    font-weight: 500;
    color:  rgb(87, 43, 43);
}
@media screen and (min-width: 720px) {
    .feedback_cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
#author{

    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center ;
    color: black;
    background-color: pink;
    
    padding: 9px;
    border-radius: 9px;
    margin: 9px;
}