@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');
img{
    width: 100%;
    height: 400px;
    border-radius: 9px;
    margin-bottom: 9px;
}
body{
    background-color: aliceblue;
    font-family: "Raleway", sans-serif;
}
#container{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
    background-color: bisque;
    border-radius: 19px;
    padding: 19px;
}
.tag{
    font-size: 14px;
    font-weight: 600;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 4px 8px;
    border: solid 1px black;
    
    
}
.name{
    font-size: 24px;
    font-weight: 700;
    margin-top: 9px;
}
p{
    font-size: 14px;
    color:blue;
    line-height: 15px;
    margin: 10px;
}
button{
    background-color:black;
    font-size:18px;
    font-weight: 700 ;
    color: pink;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;

    transition: all 200ms ease-in-out;
    
    cursor: pointer;

}
button:focus, button:hover{
    background-color: yellow;
    color: red;
    transform: scaleY(1.1);
}